includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests
    level: 8
    tmpDir: storage/phpstan
    treatPhpDocTypesAsCertain: true
